@font-face{
    font-family:"Pt Sans";
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:"Pt Sans";
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
}
html{
    height: 100%
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body{
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 21px;
    color: #000;
    background-color: #f2f2f2;
    font-weight: 400;
    margin:0;
    height: 100%;
}
.body-contener{
    display: flex;
    flex-direction: column;
  width: 1200px;
    margin: 0 auto;
    background-color: white;
    min-height: 100%;
}
main{
        flex-grow: 1;

}
ul{
    list-style: none;
}
button, input, select{
    font-family: inherit;
}
.header__navigarion,.header__list{
    text-align: center;
}
.header__list{
    margin: 0;
    padding: 0;
}

.header__navigarion-link{
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 16px;
}
.item_link-search{
    background-image: url(../imges/lupa.svg);
    background-repeat: no-repeat;
     display: inline-block;
    background-position: center;
    min-width: 44px;
    min-height: 64px;
}
.item_link-like{
    background-image: url(../imges/like.svg);
    background-repeat: no-repeat;
     display: inline-block;
    background-position: center;
    min-width: 44px;
    min-height: 64px;
}
.welcome{
    background-image: url(../imges/konvert.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 51px  82px;
    background-color: aliceblue;
    min-height: 485px;
}
.welcome__image{
display: block;
margin-left: auto;
margin-right: auto;
}
.advantages__list, .servis__list{
    text-align: center;
}
.sedon-city__title{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
text-align: center;
    margin: 0;
    margin-bottom: 25px;
}
.sedon-city__description{
color:  #333;
font-size: 22px;
font-weight: 400;
line-height: 26px;
text-align: center;
    margin: 0;
}
.item__image-hostel{
    background-image: url(../imges/advantages/advantages-hostel.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    display: inline-block;
}
.item__image-food{
      background-image: url(../imges/advantages/advantages-food.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    display: inline-block;
}
.item__image-suvenir{
    background-image: url(../imges/advantages/advantages-suvenir.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 76px;
    display: inline-block;
}

.advantages__list-title{
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
margin: 0;
margin-bottom:62px;
}
.advantages__list-description, .servis__list-description{
font-size: 18px;
font-weight: 400;
line-height: 21px;
margin:0;
}
.advantages__list-blue{
    background-color: #82B3D3;
    color: white;
    padding: 102px 85px;
}
.advantages__list-silver{
background: rgba(131, 179, 211, 0.12);
    padding: 102px 85px;
}
.advantages__list-darcksilver{
    background:  rgba(131, 179, 211, 0.20);
    padding: 102px 85px;
}
.come-sedon{
    padding: 64px 355px;
}
.come-sedon__title{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
text-align: center;
margin: 0;
margin-bottom: 20px;
}
.come-sedon__description{
    color: #333;
font-size: 22px;
font-weight: 400;
line-height: 26px;
    margin:0;
    text-align: center;
}
.interested{
    padding: 96px 304px;;
}
.interested__title{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
margin:0;
    text-align: center;
    margin-bottom: 20px;
}
.interested__description{
    color:  #333;
font-size: 22px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin: 0;
    margin-bottom:54px;
}

.interested__link{
padding: 8px 50px;
border-radius: 4px;
}
.interested__link-contener{
    text-align: center;
}
.btn-bruwn{
    background-color: #756157;
    color: white;
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
text-decoration: none;
}
.form{
    background-image: url(../imges/form-back.jpg);
    background-size:cover;
    background-color: aliceblue;
    text-align: center;
     color: #FFF;
    background-repeat: no-repeat;
    padding: 96px 298px 104px 258px;
    min-height:415px;
}
.form__title{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
margin: 0;
margin-bottom: 20px;
}
.form__description{
font-size: 22px;
font-weight: 400;
line-height: 26px;
margin: 0;
margin-bottom:54px;
}
.btn-blue{
    border-radius: 4px;
background: #82B3D3;
    color: #FFFFFF;
}
.address_phone{
    color: #000;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px;
text-transform: uppercase;
text-decoration: none;
}
/*каталог*/
.main__header{
    background-color: aliceblue;
    background-image: url(../imges/catalog-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.heder__title{
    color: var(--texts-background-deafault, #FFF);
font-size: 60px;
font-weight: 700;
line-height: 78px;
}
.bread__item-link{
    background-image: url(../imges/bread-catalog-heder/bread-item-home.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.bread__item-arrow{
    background-image: url(../imges/bread-catalog-heder/bread-item-strelka.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 8px;
    height: 100%;
    display: inline-block;
}
.bread__item-hostel{
color: #FFF;
font-size: 16px;
line-height: 21px;
}
.fieldset__legend{
    color:  #FFF ;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-transform: capitalize;
margin-bottom: 32px;
}
.fieldset__item-lable{
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 23px; /* 127.778% */
}
.fieldset__item-input{
    margin: 0;
    margin-right: 16px;
    width: 20px;
   height: 20px;
}
.card-items{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
margin-right: 200px;
}
.button-card_active{
border-radius: 4px;
border: 2px solid var(--icons-basic, #000);
}
.button-card-item__card{
    background-image: url(../imges/button-card/button-card.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
.button-card-item__icran{
    background-image: url(../imges/button-card/button-icran.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
.button-card-item__list{
    background-image: url(../imges/button-card/button-list.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}
.cards__item-image{
    margin-bottom: 16px;
}
.cards__item-title {
font-size: 24px;
font-weight: 700;
line-height: 28px;
margin:0;
margin-bottom: 16px;
}
.cards__item-description{
    color: var(--texts-second, #333);
font-size: 18px;
font-weight: 400;
line-height: 21px;
}
.cards__item-description b{
font-size: 18px;
font-weight: 400;
line-height: 21px;
}
.cards__item-button{
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 20px; /* 125% */
text-transform: uppercase;
}
.star-item{
    background-image: url(../imges/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 17px;
}
.cards-rang{
display: inline-block;
color: #333;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-transform: uppercase;
border-radius: 4px;
background:  #F2F2F2;
}
.pagination__item-link{
    color:  #FFF;
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 100% ;
}

.form-catalog{
    background-image: none;
    color: var(--texts-texts-basic, #000);
    background-color: white;

}
.pagination__item{
    background: var(--buttons-second, #82B3D3);
min-width: 60px;
min-height: 60px;
border-radius: 4px;
}
.pagination__item-link {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Выравнивание по центру по горизонтали */
}
.pagination__item-active{
background: #F2F2F2;
color: black;
border-radius: 4px;
}
.pagination__link-active{
    color:black;
}
/*Сетка header для двух страниц*/
.header-container{
width: 1060px;
margin: 0 auto;
display: flex;
align-items: center;
height: 64px;
}
.header__link{
margin-right:30px;
    position: relative;
}

.header__navigarion-list{
    display: flex;
    margin: 0;
    padding: 0;
     width:339px;
    flex-wrap: wrap;
}

.header__list{
    display: flex;
    align-items: center;
    padding: 0;
    width: 268px;
    justify-content: flex-end;
    margin-left: auto;
    flex-wrap: wrap;
}
.header__item-link{
padding: 8px 35px;
border-radius: 4px;
}

.item_link{
    display: block;
    padding: 22px 12px;
}
/*сетка main index*/

.sedon-city-contener{
padding: 69px 274px 69px 274px;
}
/*
.advantages__list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
*/
.advantages__list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-areas: "world usa usa"
                        " smal butiful turist"
                        "skali skali most"
}
.advantages__list-world{
    grid-area: world;

}
.advantages__list-usa{

    grid-area: usa;
}
.advantages__list-small{
  grid-area: smal;
}
.advantages__list-butiful{
    grid-area: butiful;
}
.advantages__list-turist{
    grid-area: turist;
}
.advantages__list-skali{
    grid-area: skali;
}
.advantages__list-most{
    grid-area: most;
}







.advantages__list-blue{
    width:400px;
    min-height:385px;
}
.advantages__list-silver{
    width: 400px;
    min-height: 385px;
}
.advantages__list-darcksilver{
    width: 400px;
    min-height: 385px;
}
.advantages__list-image{
    height: 100%;
    object-fit: cover;
}
.servis__list{
margin: 0;
padding: 0;
display: flex;
flex-wrap: wrap;
}
.servis__list-item span{
    margin-bottom:30px;
}
.servis__list-title{
    margin: 0;
    margin-bottom:30px;
}
.servis__list-description{
    margin: 0;
}
/*Футер сетка две страницы*/
.footer-contener{
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px;
}
.footer__list{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 142px;
}
.footer__list .footer__list-item{
    width:47px;
    height: 40px;
    text-align: center;
}
.footer__list-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address{
    flex-grow: 1;
text-align: center;
    margin: 0 auto;
}
.footer__logo-html-contener{
margin: 0 auto;
}

/*сетка каталог маин*/
fieldset{
    border: none;
}
.main-catalog-contener{
    width:1060px;
    margin: 0 auto;
    padding: 35px 0 70px;
}
.heder__title{
    margin: 0;
    margin-bottom:8px;
}
.bread{
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 40px;
    }
.bread li{
    margin-right: 10px;
}
.bread li:last-child{
    margin: 0;
}

.main__header-form{
margin: 0;
padding: 0;
display: flex;
    justify-content: space-between;
}
.calculator__fieldset-box{
margin: 0;
margin-right:70px;
padding: 0;
}
.fieldset__list{
    padding: 0;
    margin: 0;
}
.fieldset__item{
    margin-bottom: 16px;
}
.fieldset__item:last-child{
    margin-bottom: 0;
}
.fieldset-range__paragraph-input{
width: 143px;
height: 48px;
border-radius: 4px 0px 0px 4px;
background:  #F2F2F2 ;
    padding: 0;
}
.fieldset-range__paragraph input:first-child {
    margin-right: 2px;
}
.calculator__fieldset-checkbox{
    margin-right: 140px;
}
.fieldset-range__range{
    margin: 0;
}
.fieldset-range{
    width:288px;
    margin: 0;
    padding: 0;
    margin-right: 70px;
}
.fieldset-range__paragraph{
    margin: 0;
    display: flex;
    margin-bottom: 36px;
}
.contener__calculator-button{
height:104px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.contener__calculator-button:first-child{
    margin-bottom:40px;
}
.calculator-button{
width:191px;
height:36px;
}
.forma-contener{
    width: 1060px;
    margin: 0 auto;
    padding:50px 0 40px;
}
.card-list{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.button-card-list{
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 8px;
}
.cards-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    grid-gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
.cards-contener{
    width: 1060px;
    margin: 0 auto;
}
.cards-list .cards__item{
    width: 340px;
    min-height: 438px;
    padding: 20px;
    border: 1px solid black;
}
.cards__item-title {
    margin-bottom: 16px;
}
.contener-reting{
    display: flex;
    justify-content: space-between;
}
.star-list{
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 6px;
}
.cards-rang{
    margin: 0;
}
.cards__item-description{
    margin: 0;
    margin-bottom: 16px;
}
.list-button-cards{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
justify-content: space-between;
    margin-bottom: 16px;
}
.cards__item-description b {
  float: right;
}
.pagination{
    margin: 0;
    padding: 0;
display: flex;
    column-gap:8px;
    align-items: center;
}

.vhghg{
    justify-content: space-between;
    flex-direction: column;
}
