@font-face {
    font-family: "Pt Sans";
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pt Sans";
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
    margin: 0 auto;
    height: 100%;
    width: 1280px;
    background: #F2F2F2;
}

.body-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: 100%;
    padding: 0px 40px 0px 40px;
}

main {
    flex-grow: 1;
}

ul {
    list-style: none;
}

button,
input,
select {
    font-family: inherit;
}

.header__list {
    margin: 0;
    padding: 0;
}

.header__item:nth-child(2) a {
    position: relative;
}

.header__item:nth-child(2) a::before {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "12";
    color: #FFF;
    font-family: PT Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    border-radius: 10px;
    background: var(--icons-text, #7DB54F);
    display: flex;
    align-items: center;
    justify-content: center;
    right: 4px;
    top: 11px;
}

.header__navigation-link {
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 16px;
}

.header__navigation-link:focus-visible,
.item_link:focus-visible,
.header__item-link:focus-visible,
.interested__link:focus-visible {
    outline: 3px solid #83B3D3;
    border-radius: 6px;
}

.header__item:hover {
    opacity: 0.5;
    transition: 0.2s;
}

.header__navigation-active:focus {
    outline: none;
}

.header__navigation-active {
    position: relative;
}

.header__navigation-active::before {
    content: "";
    height: 2px;
    background: #756257;
    position: absolute;
    bottom: 0;
    right: 16px;
    left: 16px;

}

.header__navigation-active-hostel::before {
    content: "";
    width: 93px;
    height: 2px;
    background: #756257;
    position: absolute;
    top: 62px;
}

.item_link-search {
    background-image: url(../imges/magnifying-glass.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 44px;
    min-height: 64px;
    background-size: 20px 20px;
}

.item_link-search:hover {}

.item_link-like {
    background-image: url(../imges/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 44px;
    min-height: 64px;
    margin-right: 20px;
    background-size: 20px 20px;
}

.welcome {
    background-image: url(../imges/envelope.jpg);
    background-size: cover;
    min-height: 485px;
    background-repeat: no-repeat;
    padding: 51px 82px;
    background-color: #c0c0c0;
}

.welcome__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advantages__list,
.servis__list {
    text-align: center;
}

.sedon-city__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
}

.sedon-city__description {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.item__image-hostel {
    background-image: url(../imges/advantages/advantages-hostel.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    display: inline-block;
    background-position: center;
    margin-bottom: 29px;
    background-size: 75px 72px;
}

.item__image-food {
    background-image: url(../imges/advantages/advantages-food.svg);
    background-repeat: no-repeat;
    ;
    display: inline-block;
    background-size: 74px 71px;
}

.item__image-souvenir {
    background-image: url(../imges/advantages/advantages-suvenir.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
    display: inline-block;
    background-position: center;
    margin-bottom: 25px;
    background-size: 64px 76px;
}

.advantages__list-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 62px;
    position: relative;
    width: 175px
}

.advantages__list-title::after {
    content: "";
    width: 60px;
    height: 2px;
    background: rgba(255, 255, 255, 0.30);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translatex(-50%);
}

.silver-box-strip::after {
    background: rgba(0, 0, 0, 0.30);
}

.border-blue-box {
    width: 60px;
    height: 2px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    margin-bottom: 30px;
}

.border-silver-box {
    width: 60px;
    height: 2px;
    background: rgba(0, 0, 0, 0.30);
    margin: 0 auto;
    margin-bottom: 30px;
}

.advantages__list-description {
    margin: 0;
}

.advantages__list-description,
.servis__list-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.advantages__list-item {
    width: 400px;
    padding: 103px 85px;
    min-height: 385px;

}

.advantages__item,
.advantages__list-item-darcksilverbox,
.advantages__list-item-silverbox {
    padding-top: 111px;
}

.advantages__list-item-silverbox {
    background: rgba(131, 179, 211, 0.12);
}

.advantages__list-item-darcksilverbox {
    background: rgba(131, 179, 211, 0.20);
}

.advantages__list-item-img {
    padding: 0;
}

.advantages__list-item advantages__list-item-img img {
    display: inline-block;
}

.advantages__list-blue {
    background-color: #82B3D3;
    color: #fff;
}

.come-sedon {
    padding: 60px 347px 64px 347px;
}

.come-sedon__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.come-sedon__description {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.interested {
    padding: 96px 304px 96px 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.interested__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.interested__description {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 54px;
}

.interested__link {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    background: #756157;
    text-decoration: none;
    min-width: 376px;
    border-radius: 4px;
    display: block;
    padding: 8px 50px;
}

.interested__link-container {
    margin: 0;
}

.interested__link:active {
    opacity: 0.7;
    transition: 0.3;
}



.form {
    background-image: url(../imges/form-back.jpg);
    background-size: cover;
    background-color: aliceblue;
    text-align: center;
    color: #FFF;
    background-repeat: no-repeat;
    padding: 96px 258px 104px 258px;
    min-height: 415px;
}

.form__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 70px;
}

.form__description {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 54px;
    padding: 0 106px;
}

.form__form {
    display: flex;
}

.form__form-email {
    width: 452px;
    padding: 11px 20px;
    border-radius: 4px 0px 0px 4px;
    background: #F2F2F2;
    border: 0;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font: inherit;
    flex-shrink: 0;
}

.form__form-email::placeholder {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.form__form-email:focus-visible {
    outline: 3px solid #83B3D3;
}

.form__form-email::placeholder {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6;
}

.form__form-button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.form__form-button:active {
    opacity: 0.7;
    transition: 0.3;
}

.form__form-button:focus-visible,
.calculator-button-apply:focus-visible {
    outline: 3px solid #756157;
}

.btn-blue {
    background: #82B3D3;
    color: #FFFFFF;
    padding: 8px 50px;
    border-radius: 0px 4px 4px 0px;

}

.address_phone {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

.address_phone:hover {
    color: #756157;
}

.address_phone:active {
    color: rgba(117, 97, 87, 0.30);
}

/*каталог*/
.main__header {
    background-color: aliceblue;
    background-image: url(../imges/catalog-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heder__title {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}

.bread__item-link {
    background-image: url(../imges/bread-catalog-heder/bread-item-home.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 13px;
    height: 20px;
    display: inline-block;
}

.bread__item:focus {
    outline: 3px solid #83B3D3;
    border-radius: 15px;
}

.bread__item-hostel::before {
    content: "";
    background-image: url(../imges/bread-catalog-heder/bread-item-strelka.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 8px;
    height: 20px;
    background-position: center;
}

.bread__item-hostel {
    color: #FFF;
    font-size: 16px;
    display: flex;
    grid-gap: 10px;
}

.fieldset__legend {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 33px;
    position: relative;
    left: -2px;
    margin-right: 67px;
}

.fieldset__legend-type-hostel {
    margin-right: 189px;
}

.fieldset__item-lable {
    position: relative;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    left: -6px;
    top: -4px;
}

.fieldset__item-input {
    margin: 0;
    margin-right: 15px;
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: white;
    border-radius: 4px;
    border: none;
}

.fieldset__item-input:checked {
    background-image: url(../imges/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px, 20px;
}

.fieldset__item-input-radio {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0;
    margin-right: 16px;
}

.fieldset__item-input-radio:checked {
    background-image: url(../imges/radio-box.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.fieldset__item-input:focus-visible,
.fieldset__item-input-radio:focus-visible {
    outline: 3px solid #83B3D3;
}

.card-items {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-right: 200px;
    min-height: 48px;
    width: 338px;
}

.card-item__select {
    padding: 14px 100px 14px 20px;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    appearance: none;
    background-image: url(../imges/strelka.svg);
    background-repeat: no-repeat;
    width: 292px;
    background-position: 260px 14px;
    padding-top: 7px;
    height: 49px;
    background-color: #fff;
}

.card-item__select:hover {
    opacity: 0.7;
}

.card-item__select:active {
    opacity: 0.4;
}

.card-item__select:focus-visible {
    outline: 4px solid #83B3D3;
}

.button-card_active {
    border-radius: 4px;
    border: 2px solid #000;
}

.header__navigation-item {
    display: flex;
    align-items: center;
}

.button-card-item__card {
    background-image: url(../imges/button-card/button-card.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.button-card-item__screen {
    background-image: url(../imges/button-card/button-icran.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid var(--forms-elements-1, #E5E5E5);
}

.button-card-item__list {
    background-image: url(../imges/button-card/button-list.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid var(--forms-elements-1, #E5E5E5);
}

.button-card:focus {
    outline: 4px solid #83B3D3;
}


.cards {
    padding: 56px 55px 60px 70px;
}

.cards__item-image {
    margin-bottom: 15px;
}

.cards__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.cards__item-description {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.cards__item-description span {
    width: 140px;
}

.cards__item-description span b {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    float: right;
}

.item-button-cards:active {
    opacity: 0.7;
    transition: 0.3s;
}

.cards__item-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    width: 140px;
}

.cards__item-brown {
    border-radius: 4px;
    background: #756157;
    padding: 8px 26px;
    min-height: 36px;
}

.cards__item-brown:focus-visible,
.cards__item-acrive-green:focus-visible {
    outline: 4px solid #83B3D3;
}

.cards__item-blue:focus-visible {
    outline: 4px solid #756157;
}

.cards__item-blue {
    border-radius: 4px;
    background: #82B3D3;
    padding: 8px 20px;
    min-height: 36px
}

.cards__item-acrive-green {
    padding: 8px 18px;
    border-radius: 4px;
    background: #7DB54F;
    min-height: 36px;
}

.star-item {
    background-image: url(../imges/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
}

.cards-rang {
    display: inline-block;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding: 9px 22px 8px 23px;
    border-radius: 4px;
    background: #F2F2F2;
    width: 140px;
}

.pagination__item-link {
    color: #FFF;
    font-size: 21px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

.form-catalog {
    background-image: none;
    color: #000;
    background-color: #fff;
    padding: 96px 258px 104px 258px;
}

.pagination__item {
    background: #82B3D3;
    min-width: 60px;
    min-height: 60px;
    border-radius: 4px;
}

.pagination__item-link {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__item-link:focus-visible {
    outline: 4px solid #756157;
    border-radius: 12px;
}

.pagination__item-active {
    background: #F2F2F2;
    color: #000;
    border-radius: 4px;
}

.pagination__item-active .pagination__item-link:focus {
    outline: none;
}

.pagination__item-default:hover {
    opacity: 0.8;
}

.pagination__item-default:active {
    opacity: 0.5;
    transition: 0.3;
}

.pagination__link-active {
    color: #000;
}


/*Сетка header для двух страниц*/
.header-container {
    display: flex;
    align-items: center;
    padding: 0 70px;
    position: relative;
}

.header__link {
    z-index: 1;
    position: absolute;
    top: 0;
}

.header__link:hover {
    opacity: 0.7
}

.header__link:active {
    opacity: 0.4;
}

.header__link:focus-visible {
    outline: 3px solid #83B3D3;
}

.header__navigation {
    padding-left: 168px;
}

.header__navigation-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 339px;
    flex-wrap: wrap;
}

.header__navigation-list li:first-child {
    position: relative;
}

.header__navigation-list li:last-child {
    position: relative;
}

.page2:hover {
    opacity: 0.4;
}

.page1:hover {
    opacity: 0.4;
    transition: 0.3s;
}

.header__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
    width: 268px;
}

.header__item__button {
    border-radius: 4px;
    background: #756157;
}

.header__item-link {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 34px;
    width: 160px;
    display: inline-block;
    display: flex;
    justify-content: center;
}


.item_link:active,
.header__item-link:active,
.header__navigation-link:active,
.form__form-email:active,
.form__form-button:active,
.fieldset-range__paragraph-input:active {
    opacity: 0.3;
}

.item_link {
    display: block;
    padding: 22px 12px;
}

/*сетка main index*/

.sedon-city-container {
    padding: 69px 274px 70px 274px;
}

.advantages__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}



.service__list-item-silver {
    background: rgba(131, 179, 211, 0.12);
}

.advantages__list-image {
    object-fit: cover;
    min-height: 385px;
}

.servis__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.service__list-item {
    min-height: 385px;
    width: 400px;
    padding: 80px 85px;


}

.service__list-item-burger {
    margin-bottom: 30px;
    width: 74px;
    height: 70px;
}

.servis__list-title {
    margin: 0;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.servis__list-description {
    margin: 0;
}

/*Футер сетка две страницы*/
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 45px 70px 30px;
    align-items: center;
}

.footer__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 142px;
}

.footer__list .footer__list-item {
    width: 47px;
    height: 40px;
    text-align: center;
}

.footer__list-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vk-svg:hover,
.tg-svg:hover,
.yotube-svg:hover {
    opacity: 0.6;
}

.footer__list-link:focus-visible,
.address_phone:focus-visible,
.logo-html:focus-visible,
.calculator-button-reset:focus-visible,
.range-button:focus-visible {
    outline: 4px solid #83B3D3;
    border-radius: 6px;
}

.vk-svg,
.yotube-svg,
.tg-svg {
    color: #83B3D3;
}

.tg-svg:active {
    color: #68A2CA4D;
}

.vk-svg:active {
    color: #68A2CA4D;
}

.yotube-svg:active {
    color: #68A2CA4D;
}

.address {
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
}

.footer__logo-html-container {
    margin: 0 auto;
}

.svg-html {
    color: black;
}

.svg-html:hover {
    color: #756157;
}

.svg-html:active {
    color: #7561574D;
}

/*сетка каталог маин*/
fieldset {
    border: none;
}

.main-catalog-container {
    padding: 34px 47px 70px 70px;
}

.heder__title {
    margin: 0;
    margin-bottom: 8px;
}

.bread {
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 40px;
    grid-gap: 10px;
}



.bread li:last-child {
    margin: 0;
}

.main__header-form {
    margin: 0;
    padding: 0;
    display: flex;
}

.calculator__fieldset-box {
    margin: 0;
    padding: 0;
}

.fieldset__list {
    padding: 0;
    margin: 0;
    width: 163px;
}

.fieldset__list li:hover {
    opacity: 0.8;
}

.fieldset__list li:active {
    opacity: 0.3;
}

.fieldset__item {
    margin-bottom: 14px;
}

.fieldset__item:last-child {
    margin-bottom: 0;
}

.fieldset-range__paragraph- {
    border-radius: 4px 0px 0px 4px;
    background: #F2F2F2;
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font: inherit;
    z-index: 1;
}

.lable-range:not(:last-of-type) {
    margin-right: 2px;
    margin-bottom: 2px;
}

@-moz-document url-prefix() {
    .fieldset-range__paragraph-input[type="number"] {
        -moz-appearance: textfield;
    }
}

.fieldset-range__paragraph-input-start {
    width: 143px;
    height: 45px;
    padding: 11px 20px;
    border: 0;
    border-radius: 4px 0px 0px 4px;
}

.fieldset-range__paragraph-input:hover {
    cursor: pointer;
}

.lable-range-ot {
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.start-range,
.end-range {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.end-range {
    position: absolute;
    right: 22px;
    top: 11px;
}

.start-range {
    position: absolute;
    right: 22px;
    top: 11px;
}

.fieldset-range__paragraph-input-end {
    width: 143px;
    padding: 11px 20px;
    border: 0;
    border-radius: 0px 4px 4px 0px;
}

.fieldset-range {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 68px;
}


.fieldset-range__paragraph-input[value] {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.fieldset-range__paragraph-input:focus-visible {
    outline: 4px solid #83B3D3;
}







.fieldset-range__range {
    margin: 0;
    width: 287px;
}


.fieldset-range__paragraph {
    margin: 0;
    display: flex;
    margin-bottom: 45px;
    position: relative;
    width: 288px;
    flex-wrap: wrap
}

.range-skale {
    position: relative;
    width: 263px;
    height: 4px;
    background: rgba(255, 255, 255, 0.3)
}

.range-bar {
    position: absolute;
    height: 4px;
    background: #FFF;
}

.range-button {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: none;
    background: inherit;
    cursor: pointer;

}

.toggle-max {
    left: 194px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-min {
    top: 50%;
    transform: translateY(-50%);
    left: -13px;
}

.range-button:hover {
    background-color: silver;
}

.calculator-button {
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.calculator-button-apply {
    background: #82B3D3;
    padding: 8px 50px 7px 50px;
}

.calculator-button-reset {
    background-color: rgba(255, 0, 0, 0);
    padding: 8px 50px 9px 50px;
}


.calculator-button-apply:active {
    opacity: 0.7;
    transition: 0.3s;
}

.calculator-button:hover {
    opacity: 0.5;

}

.calculator-button:active {
    opacity: 0.3;

}

.card-item-select {
    margin-right: 70px;
}

.card-item__button {
    position: relative;
    top: -7px;
}

.container__calculator-button {
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
    width: 191px;
}

.container__calculator-button:first-child {
    margin-bottom: 40px;
}

.forma-container {
    padding: 56px 70px 40px;
}

.card-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}



.button-card-list {
    display: flex;
    margin: 0;
    padding: 0;
    grid-gap: 8px;
    flex-wrap: wrap;
    width: 160px;
}

.card-item__select {
    position: relative;
    top: -3px;
    left: -2px;
}

.button-card {
    cursor: pointer;
    background-color: #fff;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    padding: 0;
    margin: 0;
    grid-gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 40px;

}



.cards-list .cards__item {
    width: 340px;
    min-height: 438px;
    padding: 20px 19px 14px 19px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.list-link-card {
    margin-bottom: 16px;
    color: inherit;
    text-decoration: none;
}

.container-reting {
    display: flex;
    justify-content: space-between;
}

.star-list {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 6px;
    width: 140px;
}

.cards-rang {
    margin: 0;
}

.cards__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards__item-description {
    margin: 0;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.list-button-cards {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-bottom: 16px;
}

.list-button-cards li:first-child {
    margin-right: 20px;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.vhghg {
    justify-content: space-between;
    flex-direction: column;
}

.container-modal {
    width: 717px;
    min-height: 576px;
    padding: 71px 56px 67px 70px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
    margin: auto auto;
}

.content-container-dorm {
    display: flex;
    flex-direction: column;
    width: 577px;
}

.container-title-and-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.title-modal {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    width: 413px;
}

.modal-button-exit {
    width: 52px;
    height: 52px;
    border: 0;
    fill: #F2F2F2;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../imges/exit.svg);
    background-size: 14px 14px;
    cursor: pointer;
    padding: 0;
    position: relative;
    left: 19px;
}



.content-container-dorm label {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    align-self: center;
}

.contner-input {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
}

.container-relative {
    position: relative;
    top: 11px;
}

.description-eror,
.description-good {
    position: relative;
}

.description-eror {
    color: #FF5757;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    left: 20px;
    top: 2px;
}

.description-good {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    left: 20px;
    top: -5px;
}

.lable-zaezd,
.lable-viezd {
    width: 137px;
    position: relative;
    top: -6px;
}

.container-modal-data {
    position: relative;
}

.img-calendar {
    position: absolute;
    background-image: url(../imges/calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 15px;
    top: 14px;
    right: 20px;
    opacity: 0.3;
}

.input-modal-data {
    padding: 12px 107px 12px 20px;
    border-radius: 4px;
    background: var(--basic-light, #F2F2F2);
    border: 0;
    width: 440px;
    height: 48px;
}

.content-container-dorm input {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.contner-adults-and-child {
    display: flex;
    Margin-bottom: 48px;
}

.contner-adults {
    display: flex;
}

.container-relative-button {
    position: relative;
}

.minus,
.add {
    position: absolute;
    border: 0;
    padding: 0;
    background: #F2F2F2;

}

.minus {
    background-image: url(../imges/take-away.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;
    height: 48px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: -40px;
}

.child-minus {
    left: -40px;
}

.child-add {
    left: 31px;
}

.add {
    background-image: url(../imges/add.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;
    height: 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.adults-labale {
    margin-right: 86px;
}

.input-adults-and-child {
    width: 31px;
    border: 0;
    padding: 0;
    background: #F2F2F2;
    height: 48px;
    text-align: center;
}

.contner-adults {
    margin-right: 127px;
}

.contner-child {
    display: flex;
    width: 242px;
    height: 48px;
    align-items: center;
}

.description-child {
    margin-right: 86px;
    color: #242424;
    display: flex;
    justify-content: center;
    position: relative
}

.tooltip-text {
    width: 256px;
    border-radius: 10px;
    background: #333;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
    padding: 15px 18px 18px 22px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    top: 42px;
    z-index: 1;
    display: none;
}

.tooltip-text::before {
    content: "";
    background-image: url(../imges/Triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 19px;
    height: 9px;
    left: 50%;
    transform: translate(-50%);
    top: -9px;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
}

.tooltip-toggle:hover + .tooltip-text {
    display: block;
}

.tooltip-toggle .tooltip-toggle-img {
    color: #83B3D3;

}

.tooltip-toggle {
    outline: 0;

}

.tooltip-toggle:active .tooltip-toggle-img {
    opacity: 0.3
}

.child-lable {
    margin-right: 10px;
}

.button-find {
    border: 0;
    padding: 0;
    border-radius: 10px;
    background: #83B3D3;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    height: 60px;
}

.input-adults-and-child:focus-visible {
    outline: none;
}

.modal-button-exit:focus,
.input-modal-data:focus,
.minus:focus,
.add:focus,
.button-find:focus {
    outline: 3px solid #83B3D3;
}

.input-modal-extit {
    padding: 1px 120px 12px 20px;
}

.button-find span {
    display: block;
}

.button-find span:active {
    opacity: 0.3;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.80);
    margin: 0 auto;
    display: none;
}

.popover-type {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 256px;
    height: 143px;
    border-radius: 10px;
    background: #333;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
    padding: 15px 18px 18px 22px;
    position: relative;
}

.popover-type::before {
    position: absolute;
    background-image: url(../imges/Triangle.svg);
    background-repeat: no-repeat;
    background-position: center
}
