@font-face {
    font-family: "Pt Sans";
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pt Sans";
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 21px;
    color: #000;
    background-color: #f2f2f2;
    font-weight: 400;
    margin: 0;
    height: 100%;
}

.body-contener {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    min-height: 100%;
}

main {
    flex-grow: 1;

}

ul {
    list-style: none;
}

button,
input,
select {
    font-family: inherit;
}

.header__list {
    margin: 0;
    padding: 0;
}

.header__item:nth-child(2) a {
    position: relative;
}

.header__item:nth-child(2) a::before {
    position: absolute;
    width: 20px;
    height: 20px;
    content: "12";
    color: var(--texts-background-deafault, #FFF);
    font-family: PT Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 100% */
    border-radius: 10px;
    background: var(--icons-text, #7DB54F);
    display: flex;
    align-items: center;
    justify-content: center;
    right: 3px;
    top: 12px;
}

.header__navigarion-link {
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 16px;
}

.header__navigarion-active::before {
    content: "";
    width: 68px;
    height: 2px;
    background: #756257;
    position: absolute;
    top: 62px;
}

.header__navigarion-active-hostel::before {
    content: "";
    width: 93px;
    height: 2px;
    background: #756257;
    position: absolute;
    top: 62px;
}

.item_link-search {
    background-image: url(../imges/lupa.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 44px;
    min-height: 64px;
}

.item_link-search:hover {}

.item_link-like {
    background-image: url(../imges/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 44px;
    min-height: 64px;
}

.welcome {
    background-image: url(../imges/konvert.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 51px 82px;
    background-color: aliceblue;
}

.welcome__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advantages__list,
.servis__list {
    text-align: center;
}

.sedon-city__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
}

.sedon-city__description {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0;
}

.item__image-hostel {
    background-image: url(../imges/advantages/advantages-hostel.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    display: inline-block;
}

.item__image-food {
    background-image: url(../imges/advantages/advantages-food.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
    display: inline-block;
}

.item__image-suvenir {
    background-image: url(../imges/advantages/advantages-suvenir.svg);
    background-repeat: no-repeat;
    width: 75px;
    height: 76px;
    display: inline-block;
}

.advantages__list-title {
    width: 175px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
}

.border-blue-box {
    width: 60px;
    height: 2px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    margin-bottom: 30px;
}

.border-silver-box {
    width: 60px;
    height: 2px;
    background: rgba(0, 0, 0, 0.30);
    margin: 0 auto;
    margin-bottom: 30px;
}

.advantages__list-description,
.servis__list-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}

.advantages__list-blue {
    background-color: #82B3D3;
    color: white;
    padding: 102px 85px;
}

.advantages__list-silver {
    background: rgba(131, 179, 211, 0.12);
    padding: 112px 85px;
}

.advantages__list-darcksilver {
    background: rgba(131, 179, 211, 0.20);
    padding: 112px 85px;
}

.come-sedon {
    padding: 64px 355px;
}

.come-sedon__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.come-sedon__description {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    text-align: center;
}

.interested {
    padding: 96px 304px;
    ;
}

.interested__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.interested__description {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 54px;
}

.interested__link {
    color: var(--texts-background-deafault, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    border-radius: 4px;
    background: var(--buttons-basic, #756157);
    text-decoration: none;
}

.interested__link-contener {
    text-align: center;
    margin: 0;
}

.interested__link:active {
    opacity: 0.7;
    transition: 0.3;
}

.btn-bruwn {
    padding: 8px 35px;
    border-radius: 4px;
}

.form {
    background-image: url(../imges/form-back.jpg);
    background-size: cover;
    background-color: aliceblue;
    text-align: center;
    color: #FFF;
    background-repeat: no-repeat;
    padding: 96px 258px 104px 258px;
    min-height: 415px;
}

.form__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}

.form__description {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-bottom: 54px;
}

.form__form {
    display: flex;
}

.form__form-email {
    width: 452px;
    padding: 12px 20px;
    border-radius: 4px 0px 0px 4px;
    background: var(--basic-light, #F2F2F2);
    border: 0;
    color: var(--basic-black, #000);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font: inherit;
}

.form__form-email::placeholder {
    color: var(--basic-black, #000);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.form__form-email:focus-visible {
    outline: 3px solid #83B3D3;
}

.form__form-button {
    color: var(--texts-background-deafault, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    /* 180% */
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.form__form-button:active {
    opacity: 0.7;
    transition: 0.3;
}

.btn-blue {
    background: #82B3D3;
    color: #FFFFFF;
    padding: 8px 50px;
    border-radius: 0px 4px 4px 0px;

}

.address_phone {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
}

.address_phone:hover {
    color: var(--texts-hover, #756157);
}

.address_phone:active {
    color: var(--texts-active, rgba(117, 97, 87, 0.30));
}

/*каталог*/
.main__header {
    background-color: aliceblue;
    background-image: url(../imges/catalog-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heder__title {
    color: var(--texts-background-deafault, #FFF);
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}

.bread__item-link {
    background-image: url(../imges/bread-catalog-heder/bread-item-home.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.bread__item:focus{
    outline: 3px solid #83B3D3;
    border-radius: 15px;
}
.bread__item-arrow {
    background-image: url(../imges/bread-catalog-heder/bread-item-strelka.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 8px;
    height: 100%;
    display: inline-block;
}

.bread__item-hostel {
    color: #FFF;
    font-size: 16px;
    line-height: 21px;
}

.fieldset__legend {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 32px;
}

.fieldset__item-lable {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    /* 127.778% */
}

.fieldset__item-input {
    margin: 0;
    margin-right: 16px;
    appearance: none;
    width: 20px;
    /* Желаемая ширина */
    height: 20px;
    /* Желаемая высота */
    cursor: pointer;
    background: white;
    border-radius: 4px;
    border: none;
}

.fieldset__item-input:checked {
    background-image: url(../imges/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px, 20px;
    outline: 3px solid #83B3D3;
}

.fieldset__item-input-radio {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 0;
    margin-right: 16px;
}

.fieldset__item-input-radio:checked {
    background-image: url(../imges/radio-box.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    outline: 3px solid #83B3D3;
}

.fieldset__item-input:focus-visible {
    outline: 3px solid #83B3D3;
}

.card-items {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin-right: 200px;
    height: 48px;
    width: 338px;
}

.card-item__select {
    padding: 14px 100px 14px 20px;
    border-radius: 4px;
    border: 2px solid var(--forms-elements-1, #E5E5E5);
    color: var(--texts-second, #333);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    appearance: none;
    background-image: url(../imges/strelka.svg);
    background-repeat: no-repeat;
    width: 292px;
    height: 49px;
    background-position: 260px 21px;
}

.card-item__select:hover {
    outline: 3px solid var(--buttons-blue-hover, #68A2CA);
}

.card-item__select:focus {
    outline: 3px solid var(--buttons-blue-hover, #68A2CA);
}

.button-card_active {
    border-radius: 4px;
    outline: 2px solid var(--icons-basic, #000);
    border: 0;
}
.header__navigarion-item{
    display: flex;
    align-items: center;
}

.button-card-item__card {
    background-image: url(../imges/button-card/button-card.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
}

.button-card-item__icran {
    background-image: url(../imges/button-card/button-icran.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid var(--forms-elements-1, #E5E5E5);
}

.button-card-item__list {
    background-image: url(../imges/button-card/button-list.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    border: 2px solid var(--forms-elements-1, #E5E5E5);
}

.card-item__button {
    margin-left: auto;
}

.cards__item-image {
    margin-bottom: 16px;
}

.cards__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    margin-bottom: 16px;
}

.cards__item-description {
    color: var(--texts-second, #333);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.cards__item-description b {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.item-button-cards:active {
    opacity: 0.7;
    transition: 0.3s;
}

.cards__item-button {
    color: var(--texts-background-deafault, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.cards__item-brown {
    border-radius: 4px;
    background: var(--buttons-basic, #756157);
    padding: 8px 26px;
}

.cards__item-blue {
    border-radius: 4px;
    background: var(--buttons-second, #82B3D3);
    padding: 8px 20px;
}

.cards__item-acrive-green {
    padding: 8px 20px;
    border-radius: 4px;
    background: var(--buttons-select, #7DB54F);
}

.star-item {
    background-image: url(../imges/star.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 17px;
}

.cards-rang {
    display: inline-block;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding: 9px 22px 8px 23px;
    border-radius: 4px;
    background: var(--forms-elements-2, #F2F2F2);
}

.pagination__item-link {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

.form-catalog {
    background-image: none;
    color: var(--texts-texts-basic, #000);
    background-color: white;

}

.pagination__item {
    background: var(--buttons-second, #82B3D3);
    min-width: 60px;
    min-height: 60px;
    border-radius: 4px;
}

.pagination__item-link {
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    /* Выравнивание по центру по вертикали */
    justify-content: center;
    /* Выравнивание по центру по горизонтали */
}

.pagination__item-active {
    background: #F2F2F2;
    color: black;
    border-radius: 4px;
}

.pagination__item-active .pagination__item-link:focus {
    outline: none;
}

.pagination__item-default:hover {
    opacity: 0.8;
}

.pagination__item-default:active {
    opacity: 0.5;
    transition: 0.3;
}

.pagination__link-active {
    color: black;
}


/*Сетка header для двух страниц*/
.header-container {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 64px;
}

.header__link {
    margin-right: 30px;
    z-index: 1;
}



.header__link:focus-visible {
    outline: 3px solid #83B3D3;
}

.header__navigarion {
    height: 100%;
}

.header__navigarion-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 339px;
    flex-wrap: wrap;
    height: 64px;
}

.header__navigarion-list li:first-child {
    position: relative;
}

.header__navigarion-list li:last-child {
    position: relative;
}

.page2:hover {
    opacity: 0.4;
}

.page1:hover {
    opacity: 0.4;
    transition: 0.3s;
}

.header__list {
    display: flex;
    align-items: center;
    width: 268px;
    justify-content: flex-end;
    margin-left: auto;
    flex-wrap: wrap;
}

.header__item-link {
    background-color: #756157;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
}

.header__item:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.header__item__button:active {
    opacity: 0.7;
    transition: 0.3s;
}

.item_link {
    display: block;
    padding: 22px 12px;
}

/*сетка main index*/

.sedon-city-contener {
    padding: 69px 274px 69px 274px;
}

.advantages__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages__list-blue {
    width: 400px;
    min-height: 385px;
}

.advantages__list-silver {
    width: 400px;
    min-height: 385px;
}

.advantages__list-darcksilver {
    width: 400px;
    min-height: 385px;
}

.advantages__list-image {
    height: 100%;
    object-fit: cover;
}

.servis__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.servis__list-item span {
    margin-bottom: 30px;
}

.servis__list-title {
    margin: 0;
    margin-bottom: 30px;
}

.servis__list-description {
    margin: 0;
}

/*Футер сетка две страницы*/
.footer-contener {
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px;
}

.footer__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 142px;
}

.footer__list .footer__list-item {
    width: 47px;
    height: 40px;
    text-align: center;
}

.footer__list-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vk-svg,
.yotube-svg,
.tg-svg {
    color: #83B3D3;
}

.tg-svg:active {
    color: #68A2CA4D;
}

.vk-svg:active {
    color: #68A2CA4D;
}

.yotube-svg:active {
    color: #68A2CA4D;
}

.address {
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
}

.footer__logo-html-contener {
    margin: 0 auto;
}

.svg-html {
    color: black;
}

.svg-html:hover {
    color: #756157;
}

.svg-html:active {
    color: #7561574D;
}

/*сетка каталог маин*/
fieldset {
    border: none;
}

.main-catalog-contener {
    width: 1060px;
    margin: 0 auto;
    padding: 35px 0 70px;
}

.heder__title {
    margin: 0;
    margin-bottom: 8px;
}

.bread {
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 40px;
}

.bread li {
    margin-right: 10px;
}

.bread li:last-child {
    margin: 0;
}

.main__header-form {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.calculator__fieldset-box {
    margin: 0;
    margin-right: 70px;
    padding: 0;
}

.fieldset__list {
    padding: 0;
    margin: 0;
}

.fieldset__list li:hover {
    opacity: 0.8;
}

.fieldset__list li:active {
    opacity: 0.3;
}

.fieldset__item {
    margin-bottom: 16px;
}

.fieldset__item:last-child {
    margin-bottom: 0;
}

.fieldset-range__paragraph-input {
    width: 143px;
    height: 48px;
    border-radius: 4px 0px 0px 4px;
    background: #F2F2F2;
    border: none;
    color: var(--basic-black, #000);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font: inherit;
    z-index: 1;
    margin-right: 2px;
}

.fieldset-range__paragraph input {
    padding: 12px 20px;
    padding-right: 40px;
}

.lable-range-ot {
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.start-range,
.end-range {
    opacity: 0.3;
    font-family: PT Sans;
    font-weight: 400;
    line-height: 24px;
}

.end-range {
    position: absolute;
    right: 20px;
    top: 12px;
}

.start-range {
    position: absolute;
    right: 20px;
    top: 12px;
}

.fieldset-range {
    width: 288px;
    margin: 0;
    padding: 0;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fieldset-range__paragraph {
    position: relative;
}


.fieldset-range__paragraph-input[value] {
    color: var(--basic-black, #000);
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.fieldset-range__paragraph-input:focus-visible {
    outline: 4px solid #83B3D3;
}



.fieldset-range__paragraph input:first-child {
    margin-right: 2px;
}

.calculator__fieldset-checkbox {
    margin-right: 140px;
}

.fieldset-range__range {
    margin: 0;
    width: 287px;
}


.fieldset-range__paragraph {
    margin: 0;
    display: flex;
    margin-bottom: 36px;
}

.range-skale {
    position: relative;
    width: 287px;
    height: 4px;
    background: rgba(255, 255, 255, 0.3)
}

.range-bar {
    position: absolute;
    height: 4px;
    background: #FFF;
}

.range-button {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: none;
    background: inherit;
    cursor: pointer;

}

.toggle-max {
    left: 224px;
    top: 50%;
    transform: translateY(-50%);
}

.toggle-min {
    top: 50%;
    transform: translateY(-50%);
}

.range-button:hover {
    opacity: 0.8;
}

.calculator-button {
    border: none;
    padding: 8px 50px;
    border-radius: 4px;
    color: var(--texts-background-deafault, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.calculator-button-apply {
    background: var(--buttons-second, #82B3D3);
}

.calculator-button-reset {
    background-color: rgba(255, 0, 0, 0);
}


.calculator-button-apply:active {
    opacity: 0.7;
    transition: 0.3s;
}

.calculator-button-reset:hover {
    opacity: 0.5;

}

.calculator-button-reset:active {
    opacity: 0.3;

}

.calculator-button-reset:focus-visible {
    outline: 2px solid #68A2CA;
}

.contener__calculator-button {
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
}

.contener__calculator-button:first-child {
    margin-bottom: 40px;
}

.forma-contener {
    width: 1060px;
    margin: 0 auto;
    padding: 50px 0 40px;
}

.card-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.button-card-list {
    display: flex;
    margin: 0;
    padding: 0;
    column-gap: 8px;
    border: none;
}

.button-card {
    cursor: pointer;
}


.cards-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    padding: 0;
    margin: 0;
    grid-gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 40px;

}

.cards-contener {
    width: 1060px;
    margin: 0 auto;
}

.cards-list .cards__item {
    width: 340px;
    min-height: 438px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    border: 1px solid #E6E6E6;
}

.cards__item-title {
    margin-bottom: 16px;
}

.contener-reting {
    display: flex;
    justify-content: space-between;
}

.star-list {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 6px;
}

.cards-rang {
    margin: 0;
}

.cards__item-description {
    margin: 0;
    margin-bottom: 16px;
}

.list-button-cards {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cards__item-description b {
    float: right;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.vhghg {
    justify-content: space-between;
    flex-direction: column;
}

/*ssssssssssssss*/
.contener-modal {
    width: 717px;
    height: 576px;
    padding: 64px 70px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
    margin: auto auto;
}

.content-contener-dorm {
    display: flex;
    flex-direction: column;
    grid-gap: 48px;
}

.contener-title-and-button {
    display: flex;
    justify-content: space-between;
}

.title-modal {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0;
    width: 413px;
}

.modal-button-exit {
    width: 52px;
    height: 52px;
    border: 0;
    fill: var(--basic-light, #F2F2F2);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../imges/exit.svg);
    background-size: 14px 14px;
    cursor: pointer;
    padding: 0;

}

.content-contener-dorm label {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    align-self: center;
}

.contner-input {
    display: flex;
    align-items: center;
}

.contener-relative {
    position: relative;
}

.description-eror,
.description-good {
    position: absolute;
}

.description-eror {
    color: #FF5757;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    left: 19px;
    top: 52px;
}

.description-good {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    top: 53px;
    left: 19px;
}

.lable-zaezd,
.lable-viezd {
    width: 137px;
}

.input-modal-data {
    padding: 12px 20px;
    border-radius: 4px;
    background: var(--basic-light, #F2F2F2);
    border: 0;
    width: 440px;
    height: 48px;
}

.content-contener-dorm input {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    /* 133.333% */
}

.contner-adults-and-child {
    display: flex;
}

.contner-adults {
    display: flex;
}

.contener-relative-button {
    position: relative;
}

.minus,
.plus {
    position: absolute;
    border: 0;
    padding: 0;
    background: #F2F2F2;

}

.minus {
    background-image: url(../imges/minus.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;
    height: 48px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: -40px;
}

.child-minus {
    left: -40px;
}

.child-plus {
    left: 31px;
}

.plus {
    background-image: url(../imges/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;
    height: 48px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.adults-labale {
    margin-right: 86px;
}

.input-adults-and-child {
    width: 31px;
    border: 0;
    padding: 0;
    background: #F2F2F2;
    height: 48px;
    text-align: center;
}

.contner-adults {
    margin-right: 127px;
}

.contner-child {
    display: flex;
    width: 242px;
    height: 48px;
    align-items: center;
}

.description-child {
    margin-right: 86px;
    color: #242424;
    display: flex;
    justify-content: center;
    position: relative
}

.tooltip-text {
    width: 256px;
    height: 143px;
    border-radius: 10px;
    background: var(--basic-dark, #333);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
    padding: 15px 18px 18px 22px;
    color: var(--basic-white, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    position: absolute;
    top: 42px;
    z-index: 1;
    display: none;
}

.tooltip-text::before {
    content: "";
    background-image: url(../imges/treudolnik.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 19px;
    height: 9px;
    left: 50%;
    transform: translate(-50%);
    top: -9px;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
}
.tooltip-toggle:active + .tooltip-text{
  display: block;
}
.tooltip-toggle .tooltip-toggle-img {
    color: #83B3D3;

}
.tooltip-toggle{
        outline: 0;

}
 .tooltip-toggle:active .tooltip-toggle-img{
     opacity: 0.3
}
.child-lable {
    margin-right: 10px;
}

.button-find {
    border: 0;
    padding: 0;
    border-radius: 10px;
    background: #83B3D3;
    color: var(--basic-white, #FFF);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    /* 120% */
    text-transform: uppercase;
    height: 60px;
}

.input-adults-and-child:focus-visible {
    outline: none;
}

.modal-button-exit:focus,
.input-modal-data:focus,
.minus:focus,
.plus:focus,
.button-find:focus {
    outline: 3px solid #83B3D3;
}

.button-find span {
    display: block;
}

.button-find span:active {
    opacity: 0.3;
}

.contener-contener {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.80);
}

.popover-type {
    color: var(--basic-white, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 256px;
    height: 143px;
    border-radius: 10px;
    background: var(--basic-dark, #333);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
    padding: 15px 18px 18px 22px;
    position: relative;
}

.popover-type::before {
    position: absolute;
    background-image: url(../imges/treudolnik.svg);
    background-repeat: no-repeat;
    background-position: center
}

.modal-container-close{
    display: none;
}
